/* Общие стили */

.demo {
  outline: 1px solid red;
  outline-offset: -2px;
}

body {
  font-size: 14px;
  color: #000;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: grey;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid red;
  outline-offset: -2px
}

.left {
  float: left;
}

.right {
  float: right;
}

.row {
  width: 100%;
}

.btn {
  display: inline-block;
  width: 140px;
  padding: 8px 0;
  color: #fff;
  border: none;
  background-color: #000;
}

.left-column {
  float: left;
  outline: 1px solid green;
  outline-offset: -2px;
}

.right-column {
  float: right;
  outline: 1px solid green;
  outline-offset: -2px;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2 {
  margin-top: 0;
  font-size: 24px;
  line-height: 30px;
}

a {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Построение сетки */
/* Сетка главной */

.main-header {
  width: 100%;
  height: 72px;
  margin-bottom: 60px;
  background-color: #000;
}

.header-logo {
  float: left;
}

.main-navigation {
  float: left;
  width: 680px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation li {
  float: left;
}

.navi-item, .login {
  display: block;
  padding: 26px 22px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.user-block {
  float: right;
  width: 140px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.main-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
  text-align: center;
}

.features-title {
  margin-top: 0;
  margin-bottom: 40px;
}

.features-content {
  margin: 0;
  font-size: 14px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.features-item:last-child {
  margin-right: 0;
}

.content {
  padding: 55px 80px;
}

.content p {
  margin: 0;
}

.content ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.content li {
  text-decoration: none;
}

.content .left-column {
  float: left;
  width: 380px;
  margin-right: 100px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.content .right-column {
  float: right;
  width: 300px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.content .content-title {
  margin-bottom: 27px;
}

.content-news {
  margin-bottom: 30px;
}

.content-news:last-child {
  margin-bottom: 34px;
}

.gallery-img {
  margin-bottom: 45px;
  border: 7px solid #fff;
}

.gallery-btn:first-child {
  float: left;
}

.gallery-btn:last-child {
  float: right;
}

.content .contacts-text {
  margin-bottom: 29px;
}

.subscribe .subscribe-text {
  margin-bottom: 25px;
}

.contacts-btn:first-child {
  margin-right: 20px;
}

.subscribe-btn {
  width: 300px;
  margin-top: 20px;
}

.main-footer {
  width: 100%;
  height: 190px;
  background-color: #212121;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 80px;
  outline: 1px solid red;
  outline-offset: -2px
}

.footer-social {
  float: left;
  width: 220px;
  outline: 1px solid red;
  outline-offset: -2px
}

.footer-copyright {
  float: right;
  width: 140px;
  outline: 1px solid red;
  outline-offset: -2px
}

.popup-form {
  display: none;
}

.popup-map {
  display: none;
}
/* Сетка barbershop-shop */

.breadcrumbs {
  margin-bottom: 55px;
}

.shop-form {
  width: 220px;
}

.catalog-items .row {
  width: 700px;
}

.shop-item {
  float: left;
  width: 220px;
  margin-right: 20px;
  outline: 1px solid red;
  outline-offset: -2px
}

.shop-item:last-child {
  margin-right: 0;
}

.shop-page .row {
  margin-bottom: 45px;
}

.pagination {
  margin-bottom: 50px;
}

.price-features,
.our-price {
  width: 460px;
}

/* Сетка item */

.item-page .left-column {
  width: 460px;
}

.product-information {
  width: 390px;
}

.item-main-img {
  margin-bottom: 20px;
}

.item-img {
  float: left;
  width: 140px;
  margin-right: 20px;
}

.item-img:last-child {
  margin-right: 0;
}

.information-box {
  width: 100%;
}

.available {
  float: left;
}

.article {
  float: right;
}
/* Сетка price */

.price-page .breadcrumbs {
  margin-bottom: 45px;
}

.price-promo {
  margin-bottom: 55px;
}

.price-features {
  margin-right: 20px;
  margin-bottom: 45px;
}

.price-features ul {
  margin: 0;
  padding: 0;
}

.information {
  width: 380px;
  margin-right: 100px;
  margin-bottom: 0;
}

.other-information {
  float: right;
  width: 380px;
  margin-bottom: 0;
}

.price-information {
  margin-bottom: 80px;
}
