.demo {
  outline: 1px solid red;
  outline-offset: -2px
}

body {
  font-size: 14px;
  color: #000;
  font-family: "PT Sans Narrow" Arial sans-serif;
  line-height: 24px;
  font-weight: bold;
  background: #1d1d1d url("../img/main-bg.jpg") no-repeat;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid red;
  outline-offset: -2px
}

.main-header {
  width: 100%;
  min-height: 72px;
  margin-bottom: 60px;
  background-color: #000;
}

.main-navigation {
  float: left;
  width: 780px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.main-navigation li {
  float: left;
}

.user-block {
  float: right;
  width: 140px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.main-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.features-item:last-child {
  margin-right: 0;
}

.content {
  padding: 55px 80px;
}

.content .left-column {
  float: left;
  width: 380px;
  margin-right: 100px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.content .right-column {
  float: right;
  width: 300px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.main-footer {
  width: 100%;
  height: 190px;
  background-color: #212121;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 80px;
  outline: 1px solid red;
  outline-offset: -2px
}

.footer-social {
  float: left;
  width: 220px;
  outline: 1px solid red;
  outline-offset: -2px
}

.footer-copyright {
  float: right;
  width: 140px;
  outline: 1px solid red;
  outline-offset: -2px
}
