/* Общие стили */

.demo {
  outline: 1px solid red;
  outline-offset: -2px;
}

body {
  font-size: 14px;
  color: #000;
  font-family: "PT Sans Narrow" Arial sans-serif;
  line-height: 24px;
  font-weight: bold;
  background: grey;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid red;
  outline-offset: -2px
}

.left-column {
  float: left;
  outline: 1px solid green;
  outline-offset: -2px;
}

.right-column {
  float: right;
  outline: 1px solid green;
  outline-offset: -2px;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

/* Построение сетки */
/* Сетка главной */

.main-header {
  width: 100%;
  height: 72px;
  margin-bottom: 60px;
  background-color: #000;
}

.header-logo {
  float: left;
}

.main-navigation {
  float: left;
  width: 680px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation li {
  float: left;
}

.user-block {
  float: right;
  width: 140px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.main-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.features-item:last-child {
  margin-right: 0;
}

.content {
  padding: 55px 80px;
}

.content .left-column {
  float: left;
  width: 380px;
  margin-right: 100px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.content .right-column {
  float: right;
  width: 300px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.main-footer {
  width: 100%;
  height: 190px;
  background-color: #212121;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 80px;
  outline: 1px solid red;
  outline-offset: -2px
}

.footer-social {
  float: left;
  width: 220px;
  outline: 1px solid red;
  outline-offset: -2px
}

.footer-copyright {
  float: right;
  width: 140px;
  outline: 1px solid red;
  outline-offset: -2px
}

/* Сетка barbershop-shop */

.breadcrumbs {
  margin-bottom: 55px;
}

.shop-form {
  width: 220px;
}

.catalog-items .row {
  width: 700px;
}

.shop-item {
  float: left;
  width: 220px;
  margin-right: 20px;
  outline: 1px solid red;
  outline-offset: -2px
}

.shop-item:last-child {
  margin-right: 0;
}

.shop-page .row {
  margin-bottom: 45px;
}

.pagination {
  margin-bottom: 50px;
}

.price-features,
.our-price {
  width: 460px;
}

/* Сетка item */

.item-page .left-column {
  width: 460px;
}

.product-information {
  width: 390px;
}

.item-main-img {
  margin-bottom: 22px;
}

.item-img {
  float: left;
  width: 140px;
  margin-right: 20px;
}

.item-img:last-child {
  margin-right: 0;
}

.information-box {
  width: 100%;
}

.available {
  float: left;
}

.article {
  float: right;
}
/* Сетка price */

.price-page .breadcrumbs {
  margin-bottom: 45px;
}

.price-promo {
  margin-bottom: 55px;
}

.price-features {
  margin-right: 20px;
}

.information {
  width: 380px;
  margin-right: 100px;
}

.other-information {
  float: right;
  width: 380px;
}
